global:
  [cite_start]scrape_interval: 15s # Demandé dans le sujet [cite: 956]

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'mlops-api'
    metrics_path: /metrics
    scrape_interval: 15s
    static_configs:
      # C'est ici que la magie opère : on récupère l'IP du premier serveur du groupe 'api'
      - targets: ["{{ hostvars[groups['api'][0]]['ansible_host'] }}:9090"]