# api/requirements.txt

# Framework web avec Flask
Flask
gunicorn      
mlflow        
prometheus-client 
pandas
numpy
scikit-learn==1.5.2 # Il faut que ma version de scikit-learn soit la même que celle de Klara !
